nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

nav a{
  text-decoration: none;
  border: 1px solid #222;
  padding: 12px;
  width: 100%;
  text-align: center;

}

nav a:active {
  background-color: slateblue;
  color: aliceblue;
}

#home{
  background-color: antiquewhite;
}
#about{
  background-color: aqua;
}

#jobes{
  background-color: aquamarine;
}
#section{
  background-color: rgb(238, 255, 127);
}
#products{
  background-color: rgb(255, 214, 127);
}